@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorRed: red;
  --fontSize-sm: 16px;
  --fontFamily: "Arial, Helvetica, sans-serif";
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}

body {
  background-color: rgb(248, 242, 220);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* sign in sign up */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-description {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: normal;
}
